.image{
    position: fixed;
    height:40em;
    background-size:cover; 
    width: 100%;;
    background-image:url('/404notfound.jpg');
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
  }