<div style="text-align: center">
    <div class="container-fluid header">
        <div class="row">
           
            <div class="col-md-6" style="padding-top:3%;">
                <a style="color:white; ">My Github Application</a>
            </div>

            <div class="col-md-6" style="padding-top:3%;" *ngIf="!auth.isAuthenticated()">
                <button class="btn btn-primary btn-lg" (click)="auth.login()">
                    Login  <i class="fa fa-sign-in" aria-hidden="true"></i>  
                </button>
            </div>

            <!-- <div class="col-md-2" style="padding-top:3%;" *ngIf="auth.isAuthenticated()">
                <button class="btn btn-primary" (click)="btnsearch()">
                    Search User <i class="fa fa-search" aria-hidden="true"></i>  
                </button>
            </div> -->

            <div class="col-md-2" style="padding-top:3%;" *ngIf="auth.isAuthenticated()">
                    <button class="btn btn-primary " (click)="myprofile()">
                    My Profile <i class="fa fa-user" aria-hidden="true"></i>  
                    </button>
            </div>
            <div class="col-md-2" style="padding-top:3%;" *ngIf="auth.isAuthenticated()">
                    <button class="btn btn-primary" (click)="auth.logout()">
                        Logout <i class="fa fa-sign-in" aria-hidden="true"></i>  
                    </button>
            </div>

        </div>

    </div>
</div>



<router-outlet></router-outlet>